.calendar__day:nth-child(1)::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '1';
  font-family: Arial, sans-serif;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar__day:nth-child(2)::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '2';
  font-family: Arial, sans-serif;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar__day:nth-child(3)::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '3';
  font-family: Arial, sans-serif;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar__day:nth-child(4)::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '4';
  font-family: Arial, sans-serif;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar__day:nth-child(5)::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '5';
  font-family: Arial, sans-serif;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar__day:nth-child(6)::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '6';
  font-family: Arial, sans-serif;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar__day:nth-child(7)::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '7';
  font-family: Arial, sans-serif;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar__day:nth-child(8)::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '8';
  font-family: Arial, sans-serif;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar__day:nth-child(9)::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '9';
  font-family: Arial, sans-serif;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar__day:nth-child(10)::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '10';
  font-family: Arial, sans-serif;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar__day:nth-child(11)::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '11';
  font-family: Arial, sans-serif;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar__day:nth-child(12)::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '12';
  font-family: Arial, sans-serif;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar__day:nth-child(13)::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '13';
  font-family: Arial, sans-serif;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar__day:nth-child(14)::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '14';
  font-family: Arial, sans-serif;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar__day:nth-child(15)::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '15';
  font-family: Arial, sans-serif;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar__day:nth-child(16)::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '16';
  font-family: Arial, sans-serif;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar__day:nth-child(17)::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '17';
  font-family: Arial, sans-serif;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar__day:nth-child(18)::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '18';
  font-family: Arial, sans-serif;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar__day:nth-child(19)::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '19';
  font-family: Arial, sans-serif;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar__day:nth-child(20)::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '20';
  font-family: Arial, sans-serif;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar__day:nth-child(21)::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '21';
  font-family: Arial, sans-serif;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar__day:nth-child(22)::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '22';
  font-family: Arial, sans-serif;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar__day:nth-child(23)::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '23';
  font-family: Arial, sans-serif;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar__day:nth-child(24)::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '24';
  font-family: Arial, sans-serif;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar__day:nth-child(25)::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '25';
  font-family: Arial, sans-serif;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar__day:nth-child(26)::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '26';
  font-family: Arial, sans-serif;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar__day:nth-child(27)::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '27';
  font-family: Arial, sans-serif;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar__day:nth-child(28)::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '28';
  font-family: Arial, sans-serif;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar__day:nth-child(29)::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '29';
  font-family: Arial, sans-serif;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar__day:nth-child(30)::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '30';
  font-family: Arial, sans-serif;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar__day:nth-child(31)::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '31';
  font-family: Arial, sans-serif;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body .calendar {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 706px;
  gap: 1px;
  padding: 5px;
  max-height: 100vh;
  max-width: 100vw;
}

body .calendar__day {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border: 1px solid black;
  background: #eee;
  position: relative;
}

body .calendar__day:hover {
  /* background-color: #ffbfcb; */
  transform: translate(0, -20px);
  cursor: pointer;
  background-color: #ffbfcb;
  transition:
    transform 0.5s,
    background-color 0.5s;
}

.calendar--month-length-28 .calendar__day:nth-child(n + 29) {
  display: none;
}

.calendar--month-length-29 .calendar__day:nth-child(n + 30) {
  display: none;
}

.calendar--month-length-30 .calendar__day:nth-child(n + 31) {
  display: none;
}

body .calendar--start-day-mon .calendar__day:first-child {
  margin-left: 0;
}

body .calendar--start-day-tue .calendar__day:first-child {
  margin-left: 101px;
}

body .calendar--start-day-wed .calendar__day:first-child {
  margin-left: 202px;
}

body .calendar--start-day-thu .calendar__day:first-child {
  margin-left: 303px;
}

body .calendar--start-day-fri .calendar__day:first-child {
  margin-left: 404px;
}

body .calendar--start-day-sat .calendar__day:first-child {
  margin-left: 505px;
}

body .calendar--start-day-sun .calendar__day:first-child {
  margin-left: 606px;
}

/*# sourceMappingURL=index.css.map */
